<div class="main-content">
	<div class="image">

    	<div class="container">
    		<div class="row">
    			<div class=".col-md-4 .col-md-offset-4">
    				<h1>A pretty cool thing is happening soon.</h1>

        			<h2>Want in?</h2>
    			</div>

    		</div>
        	

	      	<div class="contact-info row">
	      		<div class=".col-md-offset-3">
	      			<form action='/submit' method='GET' >
                <input type='text' name='name' placeholder='ENTER YOUR NAME' size='30'> <br>
	      			  <input type="text" name="email" tabindex="-1" value="" placeholder="ENTER YOUR EMAIL" size="30"> <br>
	      			  <input type="submit" value="Sign Me Up" name="subscribe" class="button" >
	      			</form>
	      		</div>

		        
	      	</div>



     

     <div class="social-media">
    

      <a href="https://www.facebook.com/jenna.blumenthal.1"><img src="http://blog.lithosdesign.com/wp-content/plugins/trackable-social-share-icons/buttons/f2//facebook.png"</a>

      <a href="https://github.com/jennaleeb" ><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_circle_color-128.png" id="github"</a>

      <a href="https://twitter.com/jennaleeblume"><img src = "http://blog.lithosdesign.com/wp-content/plugins/trackable-social-share-icons/buttons/f2//twitter.png"></a>

    </div>