<div class="container">
	<div class="thanks">
		<h1>Thanks <span><%= @sign_up.name %></span>.</h1>
		<h1>We'll email you at <span><%= @sign_up.email %></span>.</h1>
	</div>
</div>


<!-- <a href="all.html.erb">Guess how many people have signed up?</a>

 -->
